<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>关于我们</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../static/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../../static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <style>
        body {
             margin: 0;
             overflow: hidden;
         }
        p{
            text-indent: 35px;
            font-size: 10px;
        }
    </style>
</head>
<body>
    <div class="alert alert-danger navbar-fixed-top" style="text-align: center;z-index: 999999" role="alert">
        易数RMB
    </div>
    <div style="z-index: 1;position: absolute;width: 100%;height: 100%;top: 10%;">
        <div class="container" style="padding-top: 10px">
            <div class="jumbotron jumbotron-fluid" style="background-color: rgba(255,21,94,0.58);color: white">
                <div class="container" >
                    <p style="font-size: 14px">
                        “易”起聊是一款通过后端使用JavaEE(JDK1.8)为开发语言，
                        以springboot为服务框架，mybatis作为ORM持久层开发，Quartz作为统计定时任务组件，
                        接通底层MySQL数据库作为持久化数据库，
                        前端Jquery操作DOM、bootstrap全局基础结构，以及图标库、图表库。
                        开发出的校园服务平台。它的诞生旨在让在校师生的生活跟家一样便利，
                        在工作学习的地方有一个放松的机会和相互交流的机会。
                        由于现在的生活更加的数据化以及很多人更愿意通过一个渠道去了解更多的信息，
                        我们的应用便提供了这样一个平台，教师及管理员可以发送消息通知、新闻资讯等信息；
                        用户可以发送小视频、图片、生活感悟等心灵娱乐文稿以及书籍物品交换或交易的信息。
                        我们要做到打开一个应用，就能全知校园近况，整合易班实行数字化校园意向，
                        应用具体功能实现信息化，个性化，全公开，无污垢的信息平台。
                        应用主旨在于服务在校学生，让高校学生能更好的学习和生活。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../static/index/framework/three/three.min.js"></script>
    <script src="../../../static/index/framework/three/stats.min.js"></script>
    <script src="../../../static/index/framework/three/dat.gui.min.js"></script>
    <script>

        function planesFromMesh( vertices, indices ) {

            var n = indices.length / 3,
                result = new Array( n );

            for ( var i = 0, j = 0; i < n; ++ i, j += 3 ) {

                var a = vertices[ indices[ j ] ],
                    b = vertices[ indices[ j + 1 ] ],
                    c = vertices[ indices[ j + 2 ] ];

                result[ i ] = new THREE.Plane().
                setFromCoplanarPoints( a, b, c );

            }

            return result;

        }

        function createPlanes( n ) {

            var result = new Array( n );

            for ( var i = 0; i !== n; ++ i )
                result[ i ] = new THREE.Plane();

            return result;

        }

        function assignTransformedPlanes( planesOut, planesIn, matrix ) {
            for ( var i = 0, n = planesIn.length; i !== n; ++ i )
                planesOut[ i ].copy( planesIn[ i ] ).applyMatrix4( matrix );
        }
        function cylindricalPlanes( n, innerRadius ) {
            var result = createPlanes( n );
            for ( var i = 0; i !== n; ++ i ) {
                var plane = result[ i ],
                    angle = i * Math.PI * 2 / n;
                plane.normal.set(
                    Math.cos( angle ), 0, Math.sin( angle ) );
                plane.constant = innerRadius;
            }
            return result;
        }

        var planeToMatrix = ( function () {
            var xAxis = new THREE.Vector3(),
                yAxis = new THREE.Vector3(),
                trans = new THREE.Vector3();

            return function planeToMatrix( plane ) {

                var zAxis = plane.normal,
                    matrix = new THREE.Matrix4();

                if ( Math.abs( zAxis.x ) > Math.abs( zAxis.z ) ) {

                    yAxis.set( - zAxis.y, zAxis.x, 0 );

                } else {

                    yAxis.set( 0, - zAxis.z, zAxis.y );

                }

                xAxis.crossVectors( yAxis.normalize(), zAxis );

                plane.coplanarPoint( trans );
                return matrix.set(
                    xAxis.x, yAxis.x, zAxis.x, trans.x,
                    xAxis.y, yAxis.y, zAxis.y, trans.y,
                    xAxis.z, yAxis.z, zAxis.z, trans.z,
                    0,	 0, 0, 1 );

            };

        } )();

        var Vertices = [
                new THREE.Vector3( + 1, 0, + Math.SQRT1_2 ),
                new THREE.Vector3( - 1, 0, + Math.SQRT1_2 ),
                new THREE.Vector3( 0, + 1, - Math.SQRT1_2 ),
                new THREE.Vector3( 0, - 1, - Math.SQRT1_2 )
            ],

            Indices = [
                0, 1, 2,	0, 2, 3,	0, 3, 1,	1, 3, 2
            ],

            Planes = planesFromMesh( Vertices, Indices ),
            PlaneMatrices = Planes.map( planeToMatrix ),

            GlobalClippingPlanes = cylindricalPlanes( 5, 3.5 ),

            Empty = Object.freeze( [] );


        var camera, scene, renderer, startTime, stats,

            object, clipMaterial,
            volumeVisualization,
            globalClippingPlanes;

        function init() {

            camera = new THREE.PerspectiveCamera(
                36, window.innerWidth / window.innerHeight, 0.25, 16 );

            camera.position.set( 0, 1.5, 3 );

            scene = new THREE.Scene();

            scene.add( new THREE.AmbientLight( 0x505050 ) );

            var spotLight = new THREE.SpotLight( 0xffffff );
            spotLight.angle = Math.PI / 5;
            spotLight.penumbra = 0.2;
            spotLight.position.set( 2, 3, 3 );
            spotLight.castShadow = true;
            spotLight.shadow.camera.near = 3;
            spotLight.shadow.camera.far = 10;
            spotLight.shadow.mapSize.width = 1024;
            spotLight.shadow.mapSize.height = 1024;
            scene.add( spotLight );

            var dirLight = new THREE.DirectionalLight( 0x55505a, 1 );
            dirLight.position.set( 0, 2, 0 );
            dirLight.castShadow = true;
            dirLight.shadow.camera.near = 1;
            dirLight.shadow.camera.far = 10;

            dirLight.shadow.camera.right = 1;
            dirLight.shadow.camera.left = - 1;
            dirLight.shadow.camera.top	= 1;
            dirLight.shadow.camera.bottom = - 1;

            dirLight.shadow.mapSize.width = 1024;
            dirLight.shadow.mapSize.height = 1024;
            scene.add( dirLight );

            clipMaterial = new THREE.MeshPhongMaterial( {
                color: 0xee0a10,
                shininess: 100,
                side: THREE.DoubleSide,
                clippingPlanes: createPlanes( Planes.length ),
                clipShadows: true
            } );

            object = new THREE.Group();

            var geometry = new THREE.BoxBufferGeometry( 0.18, 0.18, 0.18 );

            for ( var z = - 2; z <= 2; ++ z )
                for ( var y = - 2; y <= 2; ++ y )
                    for ( var x = - 2; x <= 2; ++ x ) {
                        var mesh = new THREE.Mesh( geometry, clipMaterial );
                        mesh.position.set( x / 5, y / 5, z / 5 );
                        mesh.castShadow = true;
                        object.add( mesh );

                    }

            scene.add( object );


            var planeGeometry =
                    new THREE.PlaneBufferGeometry( 3, 3, 1, 1 ),

                color = new THREE.Color();

            volumeVisualization = new THREE.Group();
            volumeVisualization.visible = false;

            for ( var i = 0, n = Planes.length; i !== n; ++ i ) {

                var material = new THREE.MeshBasicMaterial( {
                    color: color.setHSL( i / n, 0.5, 0.5 ).getHex(),
                    side: THREE.DoubleSide,

                    opacity: 0.2,
                    transparent: true,
                    clippingPlanes: clipMaterial.clippingPlanes.
                    filter( function ( _, j ) {

                        return j !== i;

                    } )
                } );

                volumeVisualization.add(
                    new THREE.Mesh( planeGeometry, material ) );

            }

            scene.add( volumeVisualization );


            var ground = new THREE.Mesh( planeGeometry,
                new THREE.MeshPhongMaterial( {
                    color: 0xa0adaf, shininess: 150 } ) );
            ground.rotation.x = - Math.PI / 2;
            ground.scale.multiplyScalar( 3 );
            ground.receiveShadow = true;
            scene.add( ground );

            var container = document.body;

            renderer = new THREE.WebGLRenderer();
            renderer.shadowMap.enabled = true;
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize( window.innerWidth, window.innerHeight );
            window.addEventListener( 'resize', onWindowResize, false );
            container.appendChild( renderer.domElement );
            globalClippingPlanes = createPlanes( GlobalClippingPlanes.length );
            renderer.clippingPlanes = Empty;
            renderer.localClippingEnabled = true;

            stats = new Stats();
            container.appendChild( stats.dom );

            startTime = Date.now();

        }

        function onWindowResize() {

            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();

            renderer.setSize( window.innerWidth, window.innerHeight );

        }

        function setObjectWorldMatrix( object, matrix ) {

            var parent = object.parent;
            scene.updateMatrixWorld();
            object.matrix.getInverse( parent.matrixWorld );
            object.applyMatrix( matrix );

        }

        var transform = new THREE.Matrix4(),
            tmpMatrix = new THREE.Matrix4();

        function animate() {

            var currentTime = Date.now(),
                time = ( currentTime - startTime ) / 1000;

            requestAnimationFrame( animate );

            object.position.y = 1;
            object.rotation.x = time * 0.5;
            object.rotation.y = time * 0.2;

            object.updateMatrix();
            transform.copy( object.matrix );

            var bouncy = Math.cos( time * .5 ) * 0.5 + 0.7;
            transform.multiply(
                tmpMatrix.makeScale( bouncy, bouncy, bouncy ) );

            assignTransformedPlanes(
                clipMaterial.clippingPlanes, Planes, transform );

            var planeMeshes = volumeVisualization.children;

            for ( var i = 0, n = planeMeshes.length; i !== n; ++ i ) {

                tmpMatrix.multiplyMatrices( transform, PlaneMatrices[ i ] );
                setObjectWorldMatrix( planeMeshes[ i ], tmpMatrix );

            }
            transform.makeRotationY( time * 0.1 );
            stats.begin();
            renderer.render( scene, camera );
            stats.end();
        }
        init();
        animate();

    </script>
</body>
</html>